body {
    background: linear-gradient(
      180deg,
      rgba(201, 241, 255, 0.5) 0%,
      rgba(166, 227, 246, 0.5) 100%
  );
}
header {
  height: 100vh;
}

.navbar{
  font-family: "Taviraj", serif;
  font-weight: 200;
  font-style: normal;
}
.nav-link::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #0000CD;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-link:hover:after{
  width: 100%;
}

.container h2 {
  margin-left: -18px; /* Adjust this value to reduce the gap */ 
}

h2 {
  font-size: 30px;
}


span {
  margin-left: -18px;
}

.upperFooter {
  height: 200px;
  background-color: #333;
}
.text-center{
  font-family: "Cormorant Garamond", serif;
  font-weight: 300;
  font-style: normal;
}
.B{
  font-size: 60px;
}
.Appoinment {
  background: rgba(255, 255, 255, 0.7);
  height: 80%;
  box-shadow: 3px 5px 15px #333;     /* Can be given in main class of Medicine Class. Foor jastai daykhay ra yata css dayko*/
  background-repeat: no-repeat;
  background-image: url(/Images/Doctors/Ba-bg.jpg);
  background-size: cover;
}
.card-title{
  font-size: 25px;
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.card-text{
  font-family: "Poppins", sans-serif;
  font-weight: 150;
}