body {
    background: linear-gradient(
      180deg,
      rgba(201, 241, 255, 0.5) 0%,
      rgba(166, 227, 246, 0.5) 100%
    );
  }
header {
  height: 100vh;
}
.nav-link::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #0000CD;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-link:hover:after{
  width: 100%;
}

.container h2 {
  margin-left: -18px; /* Adjust this value to reduce the gap */ 
}

h2 {
  font-size: 30px;
}

span {
  margin-left: -18px;
}
