*{
    margin: 0;
    padding: 0;
}

.logo {
  position: absolute;
  width: 90px;
  height: 90px;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

ul{
    text-decoration: none;
}
