*{
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
}

.navbar {
  font-family: "Taviraj", serif;
  font-weight: 200;
  font-style: normal;
}

.Welcome-Heading {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Dark Mode Styles */
.dark-mode {
  background-color: #333; /* Dark background color */
  color: #fff; /* Light text color */
}

.dark-mode-toggle {
  /* position: fixed; */
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.dark-mode-toggle button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* Additional dark mode styles for specific elements can be added here */

.nav-link::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #0000cd;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-link:hover:after {
  width: 100%;
}

.container h2 {
  margin-left: -18px; /* Adjust this value to reduce the gap */
}

.Login-button {
  background-color: rgba(36, 102, 255, 1);
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
}
h1 {
  font-size: 77px;
}
p {
  font-size: 25px;
  font-family: "Mukta Vaani", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.our-Service {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.BMI {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
.BMI-P {
  font-family: "Mukta Vaani", sans-serif;
  font-style: normal;
}
.col-sm-6 img {
  margin-top: 50px;
}

.bttn {
  background-color: rgba(36, 102, 255, 1);
  font-size: 20px;
  color: #fff;
  box-shadow: 0 8px 10px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  transition: background-color 0.3s, transform 0.2s;
}

.bttn:hover {
  background-color: rgba(36, 102, 255, 0.8); 
  transform: translateY(-2px); 
}


.hero-img {
  width: 750px;
}

/* Our Service */
h2 {
  font-size: 30px;
}

span {
  margin-left: -18px;
}

/* Hover on cards */
.hover-effect:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}

.hover-effect .card-img-top {
  transition: transform 0.3s ease;
}

.hover-effect:hover .card-img-top {
  transform: scale(1.05);
}

/* Additional CSS for flexbox */
.row-cols-1 > * {
  display: flex;
}

.row-cols-1 .card {
  flex: 1;
}

.card {
  display: flex;
  flex-direction: column;
}

.card-body {
  flex: 1;
}

.bmi-btn{
  width: 140px;
}

.bmi-btn:hover{
  background-color: rgba(32, 33, 36, 0.8); 
  transform: translateY(-2px); 
}


