
/*body {
     background: linear-gradient(
      180deg,
      rgba(201, 241, 255, 0.5) 0%,
      rgba(166, 227, 246, 0.5) 100%
    ); 
    
}*/
.navbar{
    font-family: "Taviraj", serif;
    font-style: normal;
}
.nav-link::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #0000cd;
    display: block;
    margin: auto;
    transition: 0.5s;
}
  
.nav-link:hover:after {
    width: 100%;
}
  
.container h2 {
    margin-left: -18px; /* Adjust this value to reduce the gap */
}

.Service{
   margin-left: 140px;
}

.Details{
    margin-left: 145px;
}

.virtual-consultation-container {
    background-color: #f8f9fa; /* Light gray background */
    padding: 20px;
    margin-bottom: 20px;
}
.card{
    border: none;
}

.Virtual-Consul{
    margin-top: 100px;
}

.Service-text{
    font-family: "Poppins", sans-serif;
    font-style: normal;
}
.virtual-consultation-container h3{
    font-size: 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.virtual-consultation-container p{
    font-family: "Mukta Vaani", sans-serif;
    font-style: normal;
    line-height: 27px;
    font-size: 17px;
}

.container-fluid{
    background: linear-gradient(
      180deg,
      rgba(201, 241, 255, 0.188) 0%,
      rgba(211, 239, 248, 0.208) 100%
    ); 
}
.card{
    background: none;
}
.card-text{
    font-family: "Mukta Vaani", sans-serif;
    font-style: normal;
    line-height: 25px;
}
