body {
    height: 100vh;
    /* overflow: hidden; */
  }
  
  .signupForm {
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }

.container h2 {
  margin-left: -18px; /* Adjust this value to reduce the gap */ 
  font-size: 30px;
}
  
  .nav-link::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #0000CD;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .nav-link:hover:after{
    width: 100%;
  }